# REMOVESTART

In [1]:
import pandas as pd
pd.options.display.max_rows=10

# REMOVEEND

In [2]:
import pandas as pd
url = 'https://github.com/mattharrison/datasets/raw/master/data/' \
      'vehicles.csv.zip'

In [3]:
df = pd.read_csv(url)
city_mpg = df.city08
highway_mpg = df.highway08

/var/folders/34/flzhm6td1k17tcywdrwjm9lh0000gn/T/ipykernel_79907/3976941641.py:1: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [4]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [5]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
41139    26
41140    28
41141    24
41142    24
41143    21
Name: highway08, Length: 41144, dtype: int64

In [6]:
len(dir(city_mpg))

420

In [7]:
2 + 4

6

In [8]:
(2).__add__(4)

6

In [9]:
(city_mpg + highway_mpg)/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [10]:
s1 = pd.Series([10, 20, 30], index=[1,2,2])
s2 = pd.Series([35, 44, 53], index=[2,2,4], name='s2')
s1

1    10
2    20
2    30
dtype: int64

In [11]:
s2

2    35
2    44
4    53
Name: s2, dtype: int64

In [12]:
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [13]:
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [14]:
s1.add(s2)

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [15]:
s1.add(s2, fill_value=0)

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

In [16]:
((city_mpg +
  highway_mpg)
  / 2
)

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [17]:
(city_mpg
  .add(highway_mpg)
  .div(2)
)

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [18]:
s3 = pd.Series([90, 94, 98, 93, 91])
s4 = pd.Series([71, 68, 83, 88, 82])

In [19]:
((s3 +
 s4)
/ 2)

0    80.5
1    81.0
2    90.5
3    90.5
4    86.5
dtype: float64

In [20]:
(s3
    .add(s4)
    .div(8))

0    20.125
1    20.250
2    22.625
3    22.625
4    21.625
dtype: float64

In [21]:
city_mpg.mean()

18.369045304297103

In [22]:
city_mpg.is_unique

False

In [23]:
city_mpg.is_monotonic_increasing

False

In [24]:
city_mpg.quantile()

17.0

In [25]:
city_mpg.quantile(.9)

24.0

In [26]:
city_mpg.quantile([.1, .5, .9])

0.1    13.0
0.5    17.0
0.9    24.0
Name: city08, dtype: float64

In [27]:
(city_mpg
 .gt(20)
 .sum()
)

10272

In [28]:
(city_mpg
 .gt(20)
 .mul(100)
 .mean() 
)

24.965973167412017

In [29]:
city_mpg.agg('mean')

18.369045304297103

In [30]:
import numpy as np
def second_to_last(s):
    return s.iloc[-2]

In [31]:
city_mpg.agg(['mean', np.var, max, second_to_last])

mean               18.369045
var                62.503036
max               150.000000
second_to_last     18.000000
Name: city08, dtype: float64

In [32]:
city_mpg.convert_dtypes()

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int64

In [33]:
city_mpg.astype('Int16')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int16

In [34]:
city_mpg.astype('Int8')

TypeError: cannot safely cast non-equivalent int64 to int8

In [35]:
np.iinfo('int64')

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [36]:
np.iinfo('uint8')

iinfo(min=0, max=255, dtype=uint8)

In [37]:
np.finfo('float16')

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [38]:
np.finfo('float64')

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

In [39]:
city_mpg.nbytes

329152

In [40]:
city_mpg.astype('Int16').nbytes

123432

In [41]:
make = df.make
make.nbytes

329152

In [42]:
make.memory_usage()

329280

In [43]:
make.memory_usage(deep=True)

2606395

In [44]:
(make
 .astype('category')
 .memory_usage(deep=True)
)

95888

In [45]:
city_mpg.astype(str)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: object

In [46]:
city_mpg.astype('category')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: category
Categories (105, int64): [6, 7, 8, 9, ..., 137, 138, 140, 150]

In [47]:
values = pd.Series(sorted(set(city_mpg)))
city_type = pd.CategoricalDtype(categories=values,
    ordered=True)
city_mpg.astype(city_type)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: category
Categories (105, int64): [6 < 7 < 8 < 9 ... 137 < 138 < 140 < 150]

In [48]:
city_mpg.to_frame()

       city08
0          19
1           9
2          23
3          10
4          17
...       ...
41139      19
41140      20
41141      18
41142      18
41143      16

[41144 rows x 1 columns]

In [49]:
def gt20(val):
    return val > 20

In [50]:
%%timeit
city_mpg.apply(gt20)

4.81 ms ± 748 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [51]:
%%timeit
city_mpg.gt(20)

83.3 µs ± 10.9 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [52]:
make = df.make

In [53]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [54]:
make.value_counts()

Chevrolet                      4003
Ford                           3371
Dodge                          2583
GMC                            2494
Toyota                         2071
                               ...
Volga Associated Automobile       1
Panos                             1
Mahindra                          1
Excalibur Autos                   1
London Coach Co Inc               1
Name: make, Length: 136, dtype: int64

In [55]:
top5 = make.value_counts().index[:5]
def generalize_top5(val):
    if val in top5:
        return val
    return 'Other'

In [56]:
make.apply(generalize_top5)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [57]:
make.where(make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [58]:
%%timeit
make.apply(generalize_top5)

14.6 ms ± 745 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [59]:
%%timeit
make.where(make.isin(top5), 'Other')

2.22 ms ± 54.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [60]:
make.mask(~make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [61]:
vc = make.value_counts()
top5 = vc.index[:5]
top10 = vc.index[:10]
def generalize(val):
    if val in top5:
        return val
    elif val in top10:
        return 'Top10'
    else:
        return 'Other'

In [62]:
make.apply(generalize)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [63]:
(make
  .where(make.isin(top5), 'Top10')
  .where(make.isin(top10), 'Other')
)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [64]:
import numpy as np
np.select([make.isin(top5), make.isin(top10)],
   [make, 'Top10'], 'Other')

array(['Other', 'Other', 'Dodge', ..., 'Other', 'Other', 'Other'],
      dtype=object)

In [65]:
pd.Series(np.select([make.isin(top5), make.isin(top10)],
   [make, 'Top10'], 'Other'), index=make.index)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Length: 41144, dtype: object

In [66]:
cyl = df.cylinders
(cyl
 .isna()
 .sum()
)

206

In [67]:
missing = cyl.isna()
make.loc[missing]

7138     Nissan
7139     Toyota
8143     Toyota
8144       Ford
8146       Ford
          ...
34563     Tesla
34564     Tesla
34565     Tesla
34566     Tesla
34567     Tesla
Name: make, Length: 206, dtype: object

In [68]:
cyl[cyl.isna()]

7138    NaN
7139    NaN
8143    NaN
8144    NaN
8146    NaN
         ..
34563   NaN
34564   NaN
34565   NaN
34566   NaN
34567   NaN
Name: cylinders, Length: 206, dtype: float64

In [69]:
cyl.fillna(0).loc[7136:7141]

7136    6.0
7137    6.0
7138    0.0
7139    0.0
7140    6.0
7141    6.0
Name: cylinders, dtype: float64

In [70]:
temp = pd.Series([32, 40, None, 42, 39, 32])
temp

0    32.0
1    40.0
2     NaN
3    42.0
4    39.0
5    32.0
dtype: float64

In [71]:
temp.interpolate()

0    32.0
1    40.0
2    41.0
3    42.0
4    39.0
5    32.0
dtype: float64

In [72]:
city_mpg.loc[:446]

0      19
1       9
2      23
3      10
4      17
       ..
442    15
443    15
444    15
445    15
446    31
Name: city08, Length: 447, dtype: int64

In [73]:
(city_mpg
    .loc[:446]
    .clip(lower=city_mpg.quantile(.05),
          upper=city_mpg.quantile(.95))
)

0      19.0
1      11.0
2      23.0
3      11.0
4      17.0
       ...
442    15.0
443    15.0
444    15.0
445    15.0
446    27.0
Name: city08, Length: 447, dtype: float64

In [74]:
city_mpg.sort_values()

7901       6
34557      6
37161      6
21060      6
35887      6
        ...
34563    138
34564    140
32599    150
31256    150
33423    150
Name: city08, Length: 41144, dtype: int64

In [75]:
(city_mpg.sort_values() + highway_mpg) / 2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [76]:
city_mpg.sort_values().sort_index()

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [77]:
city_mpg.drop_duplicates()

0         19
1          9
2         23
3         10
4         17
        ...
34364    127
34409    114
34564    140
34565    115
34566    104
Name: city08, Length: 105, dtype: int64

In [78]:
city_mpg.rank()

0        27060.5
1          235.5
2        35830.0
3          607.5
4        19484.0
          ...
41139    27060.5
41140    29719.5
41141    23528.0
41142    23528.0
41143    15479.0
Name: city08, Length: 41144, dtype: float64

In [79]:
city_mpg.rank(method='min')

0        25555.0
1          136.0
2        35119.0
3          336.0
4        17467.0
          ...
41139    25555.0
41140    28567.0
41141    21502.0
41142    21502.0
41143    13492.0
Name: city08, Length: 41144, dtype: float64

In [80]:
city_mpg.rank(method='dense')

0        14.0
1         4.0
2        18.0
3         5.0
4        12.0
         ...
41139    14.0
41140    15.0
41141    13.0
41142    13.0
41143    11.0
Name: city08, Length: 41144, dtype: float64

In [81]:
make.replace('Subaru', 'スバル')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4               スバル
            ...
41139           スバル
41140           スバル
41141           スバル
41142           スバル
41143           スバル
Name: make, Length: 41144, dtype: object

In [82]:
make.replace(r'(Fer)ra(r.*)',
   value=r'\2-other-\1', regex=True)

0          Alfa Romeo
1        ri-other-Fer
2               Dodge
3               Dodge
4              Subaru
             ...
41139          Subaru
41140          Subaru
41141          Subaru
41142          Subaru
41143          Subaru
Name: make, Length: 41144, dtype: object

In [83]:
pd.cut(city_mpg, 10)

0        (5.856, 20.4]
1        (5.856, 20.4]
2         (20.4, 34.8]
3        (5.856, 20.4]
4        (5.856, 20.4]
             ...
41139    (5.856, 20.4]
41140    (5.856, 20.4]
41141    (5.856, 20.4]
41142    (5.856, 20.4]
41143    (5.856, 20.4]
Name: city08, Length: 41144, dtype: category
Categories (10, interval[float64, right]): [(5.856, 20.4] < (20.4, 34.8] < (34.8, 49.2] < (49.2, 63.6] ... (92.4, 106.8] < (106.8, 121.2] < (121.2, 135.6] < (135.6, 150.0]]

In [84]:
pd.cut(city_mpg, [0, 10, 20, 40, 70, 150])

0        (10, 20]
1         (0, 10]
2        (20, 40]
3         (0, 10]
4        (10, 20]
           ...
41139    (10, 20]
41140    (10, 20]
41141    (10, 20]
41142    (10, 20]
41143    (10, 20]
Name: city08, Length: 41144, dtype: category
Categories (5, interval[int64, right]): [(0, 10] < (10, 20] < (20, 40] < (40, 70] < (70, 150]]

In [85]:
pd.qcut(city_mpg, 10)

0         (18.0, 20.0]
1        (5.999, 13.0]
2         (21.0, 24.0]
3        (5.999, 13.0]
4         (16.0, 17.0]
             ...
41139     (18.0, 20.0]
41140     (18.0, 20.0]
41141     (17.0, 18.0]
41142     (17.0, 18.0]
41143     (15.0, 16.0]
Name: city08, Length: 41144, dtype: category
Categories (10, interval[float64, right]): [(5.999, 13.0] < (13.0, 14.0] < (14.0, 15.0] < (15.0, 16.0] ... (18.0, 20.0] < (20.0, 21.0] < (21.0, 24.0] < (24.0, 150.0]]

In [86]:
pd.qcut(city_mpg, 10, labels=list(range(1,11)))

0        7
1        1
2        9
3        1
4        5
        ..
41139    7
41140    7
41141    6
41142    6
41143    4
Name: city08, Length: 41144, dtype: category
Categories (10, int64): [1 < 2 < 3 < 4 ... 7 < 8 < 9 < 10]

In [87]:
city2 = city_mpg.rename(make.to_dict())
city2

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 41144, dtype: int64

In [88]:
city2.index

Index(['Alfa Romeo', 'Ferrari', 'Dodge', 'Dodge', 'Subaru', 'Subaru', 'Subaru',
       'Toyota', 'Toyota', 'Toyota',
       ...
       'Saab', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Subaru', 'Subaru',
       'Subaru', 'Subaru', 'Subaru'],
      dtype='object', length=41144)

In [89]:
city2 = city_mpg.rename(make)
city2

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 41144, dtype: int64

In [90]:
city2.rename('citympg')

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: citympg, Length: 41144, dtype: int64

In [91]:
city2.reset_index()

            index  city08
0      Alfa Romeo      19
1         Ferrari       9
2           Dodge      23
3           Dodge      10
4          Subaru      17
...           ...     ...
41139      Subaru      19
41140      Subaru      20
41141      Subaru      18
41142      Subaru      18
41143      Subaru      16

[41144 rows x 2 columns]

In [92]:
city2.reset_index(drop=True)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [93]:
city2.loc['Subaru']

Subaru    17
Subaru    21
Subaru    22
Subaru    19
Subaru    20
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 885, dtype: int64

In [94]:
city2.loc['Fisker']

20

In [95]:
city2.loc[['Fisker']]

Fisker    20
Name: city08, dtype: int64

In [96]:
city2.loc[['Ferrari', 'Lamborghini']]

Ferrari         9
Ferrari        12
Ferrari        11
Ferrari        10
Ferrari        11
               ..
Lamborghini     6
Lamborghini     8
Lamborghini     8
Lamborghini     8
Lamborghini     8
Name: city08, Length: 357, dtype: int64

In [97]:
city2.loc['Ferrari':'Lamborghini']

KeyError: "Cannot get left slice bound for non-unique label: 'Ferrari'"

In [98]:
city2.sort_index().loc['Ferrari':'Lamborghini']

Ferrari        10
Ferrari        13
Ferrari        13
Ferrari         9
Ferrari        10
               ..
Lamborghini    12
Lamborghini     9
Lamborghini     8
Lamborghini    13
Lamborghini     8
Name: city08, Length: 11210, dtype: int64

In [99]:
city2.sort_index().loc["F":"J"]

Federal Coach    15
Federal Coach    13
Federal Coach    13
Federal Coach    14
Federal Coach    13
                 ..
Isuzu            15
Isuzu            15
Isuzu            15
Isuzu            27
Isuzu            18
Name: city08, Length: 9040, dtype: int64

In [100]:
idx = pd.Index(['Dodge'])
city2.loc[idx]

Dodge    23
Dodge    10
Dodge    12
Dodge    11
Dodge    11
         ..
Dodge    18
Dodge    17
Dodge    14
Dodge    14
Dodge    11
Name: city08, Length: 2583, dtype: int64

In [101]:
idx = pd.Index(['Dodge', 'Dodge'])
city2.loc[idx]

Dodge    23
Dodge    10
Dodge    12
Dodge    11
Dodge    11
         ..
Dodge    18
Dodge    17
Dodge    14
Dodge    14
Dodge    11
Name: city08, Length: 5166, dtype: int64

In [102]:
mask = city2 > 50
mask

Alfa Romeo    False
Ferrari       False
Dodge         False
Dodge         False
Subaru        False
              ...
Subaru        False
Subaru        False
Subaru        False
Subaru        False
Subaru        False
Name: city08, Length: 41144, dtype: bool

In [103]:
city2.loc[mask]

Nissan     81
Toyota     81
Toyota     81
Ford       74
Nissan     84
         ...
Tesla     140
Tesla     115
Tesla     104
Tesla      98
Toyota     55
Name: city08, Length: 236, dtype: int64

In [104]:
cost = pd.Series([1.00, 2.25, 3.99, .99, 2.79], 
    index=['Gum', 'Cookie', 'Melon', 'Roll', 'Carrots'])
inflation = 1.10
(cost
    .mul(inflation)
    .loc[lambda s_: s_ > 3]
)

Melon      4.389
Carrots    3.069
dtype: float64

In [105]:
cost = pd.Series([1.00, 2.25, 3.99, .99, 2.79], 
   index=['Gum', 'Cookie', 'Melon', 'Roll', 'Carrots'])
inflation = 1.10
mask = cost > 3
(cost
    .mul(inflation)
    .loc[mask]
)

Melon    4.389
dtype: float64

In [106]:
def gt3(s):
    return s > 3

In [107]:
gt3 = lambda s: s > 3

In [108]:
city2.iloc[0]

19

In [109]:
city2.iloc[-1]

16

In [110]:
city2.iloc[[0,1,-1]]

Alfa Romeo    19
Ferrari        9
Subaru        16
Name: city08, dtype: int64

In [111]:
city2.iloc[0:5]

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
Name: city08, dtype: int64

In [112]:
city2.iloc[-8:]

Saturn    21
Saturn    24
Saturn    21
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, dtype: int64

In [113]:
mask = city2 > 50
city2.iloc[mask]

ValueError: iLocation based boolean indexing cannot use an indexable as a mask

In [114]:
city2.iloc[mask.to_numpy()]

Nissan     81
Toyota     81
Toyota     81
Ford       74
Nissan     84
         ...
Tesla     140
Tesla     115
Tesla     104
Tesla      98
Toyota     55
Name: city08, Length: 236, dtype: int64

In [115]:
city2.iloc[list(mask)]

Nissan     81
Toyota     81
Toyota     81
Ford       74
Nissan     84
         ...
Tesla     140
Tesla     115
Tesla     104
Tesla      98
Toyota     55
Name: city08, Length: 236, dtype: int64

In [116]:
city2.head(3)

Alfa Romeo    19
Ferrari        9
Dodge         23
Name: city08, dtype: int64

In [117]:
city2.tail(3)

Subaru    18
Subaru    18
Subaru    16
Name: city08, dtype: int64

In [118]:
city2.sample(6, random_state=42)

Volvo         16
Mitsubishi    19
Buick         27
Jeep          15
Land Rover    13
Saab          17
Name: city08, dtype: int64

In [119]:
city2.filter(items=['Ford', 'Subaru'])

/var/folders/34/flzhm6td1k17tcywdrwjm9lh0000gn/T/ipykernel_79907/888006689.py:1: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  city2.filter(items=['Ford', 'Subaru'])

ValueError: cannot reindex on an axis with duplicate labels

In [120]:
city2.filter(like='rd')

Ford    18
Ford    16
Ford    17
Ford    17
Ford    15
        ..
Ford    26
Ford    19
Ford    21
Ford    18
Ford    19
Name: city08, Length: 3371, dtype: int64

In [121]:
city2.filter(regex='(Ford)|(Subaru)')

Subaru    17
Subaru    21
Subaru    22
Ford      18
Ford      16
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 4256, dtype: int64

In [122]:
city2.reindex(['Missing', 'Ford'])

/var/folders/34/flzhm6td1k17tcywdrwjm9lh0000gn/T/ipykernel_79907/3064629523.py:1: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  city2.reindex(['Missing', 'Ford'])

ValueError: cannot reindex on an axis with duplicate labels

In [123]:
city_mpg.reindex([0,0, 10, 20, 2_000_000])

0          19.0
0          19.0
10         23.0
20         14.0
2000000     NaN
Name: city08, dtype: float64

In [124]:
s1 = pd.Series([10,20,30], index=['a', 'b', 'c'])
s2 = pd.Series([15,25,35], index=['b', 'c', 'd'])

In [125]:
s2

b    15
c    25
d    35
dtype: int64

In [126]:
s2.reindex(s1.index)

a     NaN
b    15.0
c    25.0
dtype: float64

#. Inspect the index.

#. Sort the index.

#. Set the index to monotonically increasing integers starting from 0.

#. Set the index to monotonically increasing integers starting from 0, then convert these to the string version. Save this a ``s2``.

#. Using ``s2``, pull out the first 5 entries.

#. Using ``s2``, pull out the last 5 entries.

#. Using ``s2``, pull out one hundred entries starting at index position 10.

#. Using ``s2``, create a series with values with index entries ``'20'``, ``'10'``, and ``'2'``.

In [127]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [128]:
make.astype('string')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: string

In [129]:
make.astype('category')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: category
Categories (136, object): ['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo', ..., 'Volvo', 'Wallace Environmental', 'Yugo', 'smart']

In [130]:
'Ford'.lower()

'ford'

In [131]:
make.str.lower()

0        alfa romeo
1           ferrari
2             dodge
3             dodge
4            subaru
            ...
41139        subaru
41140        subaru
41141        subaru
41142        subaru
41143        subaru
Name: make, Length: 41144, dtype: object

In [132]:
'Alfa Romeo'.find('A')

0

In [133]:
make.str.find('A')

0        0
1       -1
2       -1
3       -1
4       -1
        ..
41139   -1
41140   -1
41141   -1
41142   -1
41143   -1
Name: make, Length: 41144, dtype: int64

In [134]:
make.str.extract(r'([^a-z A-Z])')

         0
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
41139  NaN
41140  NaN
41141  NaN
41142  NaN
41143  NaN

[41144 rows x 1 columns]

In [135]:
(make
  .str.extract(r'([^a-z A-Z])', expand=False)
  .value_counts()
)

-    1727
.      46
,       9
Name: make, dtype: int64

In [136]:
age = pd.Series(['0-10', '11-15', '11-15', '61-65', '46-50'])
age

0     0-10
1    11-15
2    11-15
3    61-65
4    46-50
dtype: object

In [137]:
age.str.split('-')

0     [0, 10]
1    [11, 15]
2    [11, 15]
3    [61, 65]
4    [46, 50]
dtype: object

In [138]:
(age
  .str.split('-', expand=True)
  .iloc[:,0]
  .astype(int)
)

0     0
1    11
2    11
3    61
4    46
Name: 0, dtype: int64

In [139]:
(age
  .str.slice(-2)
  .astype(int)
)

0    10
1    15
2    15
3    65
4    50
dtype: int64

In [140]:
(age
  .str[-2:]
  .astype(int)
)

0    10
1    15
2    15
3    65
4    50
dtype: int64

In [141]:
(age
  .str.split('-', expand=True)
  .astype(int)
  .mean(axis='columns')
)

0     5.0
1    13.0
2    13.0
3    63.0
4    48.0
dtype: float64

In [142]:
import random
def between(row):
    return random.randint(*row.values)

In [143]:
(age
  .str.split('-', expand=True)
  .astype(int)
  .apply(between, axis='columns')
)

0     0
1    13
2    14
3    65
4    48
dtype: int64

In [144]:
make.str.replace('A', 'Å')

0        Ålfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [145]:
make.replace('A', 'Å')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [146]:
make.replace({'Audi': 'Åudi', 'Acura': 'Åcura',
    'Ashton Martin': 'Åshton Martin',
    'Alfa Romeo': 'Ålfa Romeo'})

0        Ålfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [147]:
make.replace('A', 'Å', regex=True)

0        Ålfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

#. Using a string column, lowercase the values.

#. Using a string column, slice out the first character.

#. Using a string column, slice out the last three characters.

#. Using a string column, create a series extracting the numeric values.

#. Using a string column, create a series extracting the non-ASCII values.

#. Using a string column, create a dataframe with the dummy columns for every character in the column.

In [148]:
col = pd.Series(['2015-03-08 08:00:00+00:00',
    '2015-03-08 08:30:00+00:00',
    '2015-03-08 09:00:00+00:00',
    '2015-03-08 09:30:00+00:00',
    '2015-11-01 06:30:00+00:00',
    '2015-11-01 07:00:00+00:00',
    '2015-11-01 07:30:00+00:00',
    '2015-11-01 08:00:00+00:00',
    '2015-11-01 08:30:00+00:00',
    '2015-11-01 08:00:00+00:00',
    '2015-11-01 08:30:00+00:00',
    '2015-11-01 09:00:00+00:00',
    '2015-11-01 09:30:00+00:00',
    '2015-11-01 10:00:00+00:00'])

In [149]:
utc_s = pd.to_datetime(col, utc=True)
utc_s

0    2015-03-08 08:00:00+00:00
1    2015-03-08 08:30:00+00:00
2    2015-03-08 09:00:00+00:00
3    2015-03-08 09:30:00+00:00
4    2015-11-01 06:30:00+00:00
                ...
9    2015-11-01 08:00:00+00:00
10   2015-11-01 08:30:00+00:00
11   2015-11-01 09:00:00+00:00
12   2015-11-01 09:30:00+00:00
13   2015-11-01 10:00:00+00:00
Length: 14, dtype: datetime64[ns, UTC]

In [150]:
utc_s.dt.tz_convert('America/Denver')

0    2015-03-08 01:00:00-07:00
1    2015-03-08 01:30:00-07:00
2    2015-03-08 03:00:00-06:00
3    2015-03-08 03:30:00-06:00
4    2015-11-01 00:30:00-06:00
                ...
9    2015-11-01 01:00:00-07:00
10   2015-11-01 01:30:00-07:00
11   2015-11-01 02:00:00-07:00
12   2015-11-01 02:30:00-07:00
13   2015-11-01 03:00:00-07:00
Length: 14, dtype: datetime64[ns, America/Denver]

In [151]:
s = pd.Series(['2015-03-08 01:00:00-07:00',
 '2015-03-08 01:30:00-07:00',
 '2015-03-08 03:00:00-06:00',
 '2015-03-08 03:30:00-06:00',
 '2015-11-01 00:30:00-06:00',
 '2015-11-01 01:00:00-06:00',
 '2015-11-01 01:30:00-06:00',
 '2015-11-01 01:00:00-07:00',
 '2015-11-01 01:30:00-07:00',
 '2015-11-01 01:00:00-07:00',
 '2015-11-01 01:30:00-07:00',
 '2015-11-01 02:00:00-07:00',
 '2015-11-01 02:30:00-07:00',
 '2015-11-01 03:00:00-07:00'])

In [152]:
pd.to_datetime(s, utc=True).dt.tz_convert('America/Denver')

0    2015-03-08 01:00:00-07:00
1    2015-03-08 01:30:00-07:00
2    2015-03-08 03:00:00-06:00
3    2015-03-08 03:30:00-06:00
4    2015-11-01 00:30:00-06:00
                ...
9    2015-11-01 01:00:00-07:00
10   2015-11-01 01:30:00-07:00
11   2015-11-01 02:00:00-07:00
12   2015-11-01 02:30:00-07:00
13   2015-11-01 03:00:00-07:00
Length: 14, dtype: datetime64[ns, America/Denver]

In [153]:
time = pd.Series(['2015-03-08 01:00:00',
 '2015-03-08 01:30:00',
 '2015-03-08 02:00:00',
 '2015-03-08 02:30:00',
 '2015-03-08 03:00:00',
 '2015-03-08 02:00:00',
 '2015-03-08 02:30:00',
 '2015-03-08 03:00:00',
 '2015-03-08 03:30:00',
 '2015-11-01 00:30:00',
 '2015-11-01 01:00:00',
 '2015-11-01 01:30:00',
 '2015-11-01 02:00:00',
 '2015-11-01 02:30:00',
 '2015-11-01 01:00:00',
 '2015-11-01 01:30:00',
 '2015-11-01 02:00:00',
 '2015-11-01 02:30:00',
 '2015-11-01 03:00:00'])

In [154]:
offset = pd.Series([-7, -7, -7, -7, -7, -6, -6,
  -6, -6, -6, -6, -6, -6, -6, -7, -7, -7, -7, -7])

In [155]:
(pd.to_datetime(time)
    .groupby(offset)
    .transform(lambda s: s.dt.tz_localize(s.name)
                          .dt.tz_convert('America/Denver'))
)

0    2015-03-07 18:00:07-07:00
1    2015-03-07 18:30:07-07:00
2    2015-03-07 19:00:07-07:00
3    2015-03-07 19:30:07-07:00
4    2015-03-07 20:00:07-07:00
                ...
14   2015-10-31 19:00:07-06:00
15   2015-10-31 19:30:07-06:00
16   2015-10-31 20:00:07-06:00
17   2015-10-31 20:30:07-06:00
18   2015-10-31 21:00:07-06:00
Length: 19, dtype: datetime64[ns, America/Denver]

In [156]:
offset = offset.replace({-7:'-07:00', -6:'-06:00'})
local = (pd.to_datetime(time)
    .groupby(offset)
    .transform(lambda s: s.dt.tz_localize(s.name)
                          .dt.tz_convert('America/Denver'))
)

In [157]:
local

0    2015-03-08 01:00:00-07:00
1    2015-03-08 01:30:00-07:00
2    2015-03-08 03:00:00-06:00
3    2015-03-08 03:30:00-06:00
4    2015-03-08 04:00:00-06:00
                ...
14   2015-11-01 01:00:00-07:00
15   2015-11-01 01:30:00-07:00
16   2015-11-01 02:00:00-07:00
17   2015-11-01 02:30:00-07:00
18   2015-11-01 03:00:00-07:00
Length: 19, dtype: datetime64[ns, America/Denver]

In [158]:
local.dt.tz_convert('UTC')

0    2015-03-08 08:00:00+00:00
1    2015-03-08 08:30:00+00:00
2    2015-03-08 09:00:00+00:00
3    2015-03-08 09:30:00+00:00
4    2015-03-08 10:00:00+00:00
                ...
14   2015-11-01 08:00:00+00:00
15   2015-11-01 08:30:00+00:00
16   2015-11-01 09:00:00+00:00
17   2015-11-01 09:30:00+00:00
18   2015-11-01 10:00:00+00:00
Length: 19, dtype: datetime64[ns, UTC]

In [159]:
secs = local.view(int).floordiv(1e9).astype(int)
secs

0     1425801600
1     1425803400
2     1425805200
3     1425807000
4     1425808800
         ...
14    1446364800
15    1446366600
16    1446368400
17    1446370200
18    1446372000
Length: 19, dtype: int64

In [160]:
(pd.to_datetime(secs, unit='s')
  .dt.tz_localize('UTC'))

0    2015-03-08 08:00:00+00:00
1    2015-03-08 08:30:00+00:00
2    2015-03-08 09:00:00+00:00
3    2015-03-08 09:30:00+00:00
4    2015-03-08 10:00:00+00:00
                ...
14   2015-11-01 08:00:00+00:00
15   2015-11-01 08:30:00+00:00
16   2015-11-01 09:00:00+00:00
17   2015-11-01 09:30:00+00:00
18   2015-11-01 10:00:00+00:00
Length: 19, dtype: datetime64[ns, UTC]

In [161]:
url = 'https://github.com/mattharrison/datasets'+\
    '/raw/master/data/alta-noaa-1980-2019.csv'
alta_df = pd.read_csv(url)

In [162]:
dates = pd.to_datetime(alta_df.DATE)
dates

0       1980-01-01
1       1980-01-02
2       1980-01-03
3       1980-01-04
4       1980-01-05
           ...
14155   2019-09-03
14156   2019-09-04
14157   2019-09-05
14158   2019-09-06
14159   2019-09-07
Name: DATE, Length: 14160, dtype: datetime64[ns]

In [163]:
dates.dt.day_name('es_ES')

0           Martes
1        Miércoles
2           Jueves
3          Viernes
4           Sábado
           ...
14155       Martes
14156    Miércoles
14157       Jueves
14158      Viernes
14159       Sábado
Name: DATE, Length: 14160, dtype: object

In [164]:
dates.dt.is_month_end

0        False
1        False
2        False
3        False
4        False
         ...
14155    False
14156    False
14157    False
14158    False
14159    False
Name: DATE, Length: 14160, dtype: bool

In [165]:
dates.dt.strftime('%d/%m/%y')

0        01/01/80
1        02/01/80
2        03/01/80
3        04/01/80
4        05/01/80
           ...
14155    03/09/19
14156    04/09/19
14157    05/09/19
14158    06/09/19
14159    07/09/19
Name: DATE, Length: 14160, dtype: object

#. Convert a column with date information to a date.

#. Convert a date column into UTC dates.

#. Convert a date column into local dates with a timezone.

#. Convert a date column into epoch values.

#. Convert an epoch number into UTC.

In [166]:
url = 'https://github.com/mattharrison/datasets'+\
    '/raw/master/data/alta-noaa-1980-2019.csv'
alta_df = pd.read_csv(url)
dates = pd.to_datetime(alta_df.DATE)

In [167]:
snow = (alta_df
   .SNOW
   .rename(dates)
)

In [168]:
snow

1980-01-01    2.0
1980-01-02    3.0
1980-01-03    1.0
1980-01-04    0.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [169]:
snow.isna().any()

True

In [170]:
snow[snow.isna()]

1985-07-30   NaN
1985-09-12   NaN
1985-09-19   NaN
1986-02-07   NaN
1986-06-26   NaN
              ..
2017-04-26   NaN
2017-09-20   NaN
2017-10-02   NaN
2017-12-23   NaN
2018-12-03   NaN
Name: SNOW, Length: 365, dtype: float64

In [171]:
snow.loc['1985-09':'1985-09-20']

1985-09-01    0.0
1985-09-02    0.0
1985-09-03    0.0
1985-09-04    0.0
1985-09-05    0.0
             ...
1985-09-16    0.0
1985-09-17    0.0
1985-09-18    0.0
1985-09-19    NaN
1985-09-20    0.0
Name: SNOW, Length: 20, dtype: float64

In [172]:
(snow
   .loc['1985-09':'1985-09-20']
   .fillna(0)
)

1985-09-01    0.0
1985-09-02    0.0
1985-09-03    0.0
1985-09-04    0.0
1985-09-05    0.0
             ...
1985-09-16    0.0
1985-09-17    0.0
1985-09-18    0.0
1985-09-19    0.0
1985-09-20    0.0
Name: SNOW, Length: 20, dtype: float64

In [173]:
snow.loc['1987-12-30':'1988-01-10']

1987-12-30    6.0
1987-12-31    5.0
1988-01-01    NaN
1988-01-02    0.0
1988-01-03    0.0
             ...
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, Length: 12, dtype: float64

In [174]:
(snow
   .loc['1987-12-30':'1988-01-10']
   .ffill()
)

1987-12-30    6.0
1987-12-31    5.0
1988-01-01    5.0
1988-01-02    0.0
1988-01-03    0.0
             ...
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, Length: 12, dtype: float64

In [175]:
(snow
    .loc['1987-12-30':'1988-01-10']
    .bfill()
)

1987-12-30    6.0
1987-12-31    5.0
1988-01-01    0.0
1988-01-02    0.0
1988-01-03    0.0
             ...
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, Length: 12, dtype: float64

In [176]:
(snow
    .loc['1987-12-30':'1988-01-10']
    .interpolate()
)

1987-12-30    6.0
1987-12-31    5.0
1988-01-01    2.5
1988-01-02    0.0
1988-01-03    0.0
             ...
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, Length: 12, dtype: float64

In [177]:
winter = (snow.index.quarter == 1) | (snow.index.quarter== 4)
(snow
    .where(~(winter & snow.isna()), snow.interpolate())
    .where(~(~winter & snow.isna()), 0)
)

1980-01-01    2.0
1980-01-02    3.0
1980-01-03    1.0
1980-01-04    0.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [178]:
(snow
    .where(~(winter & snow.isna()), snow.interpolate())
    .where(~(~winter & snow.isna()), 0)
    .loc[['1985-09-19','1988-01-01']]
)

1985-09-19    0.0
1988-01-01    2.5
Name: SNOW, dtype: float64

In [179]:
(snow
    .loc['1987-12-30':'1988-01-10']
    .dropna()
)

1987-12-30    6.0
1987-12-31    5.0
1988-01-02    0.0
1988-01-03    0.0
1988-01-05    2.0
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, dtype: float64

In [180]:
snow.shift(1)

1980-01-01    NaN
1980-01-02    2.0
1980-01-03    3.0
1980-01-04    1.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [181]:
snow.shift(-1)

1980-01-01    3.0
1980-01-02    1.0
1980-01-03    0.0
1980-01-04    0.0
1980-01-05    1.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    NaN
Name: SNOW, Length: 14160, dtype: float64

In [182]:
(snow
  .add(snow.shift(1))
  .add(snow.shift(2))
  .add(snow.shift(3))
  .add(snow.shift(4))
  .div(5)
)

1980-01-01    NaN
1980-01-02    NaN
1980-01-03    NaN
1980-01-04    NaN
1980-01-05    1.2
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [183]:
(snow
  .rolling(5)
  .mean()
)

1980-01-01    NaN
1980-01-02    NaN
1980-01-03    NaN
1980-01-04    NaN
1980-01-05    1.2
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [184]:
(snow
    .resample('M')
    .max()
)

1980-01-31    20.0
1980-02-29    25.0
1980-03-31    16.0
1980-04-30    10.0
1980-05-31     9.0
              ...
2019-05-31     5.1
2019-06-30     0.0
2019-07-31     0.0
2019-08-31     0.0
2019-09-30     0.0
Freq: M, Name: SNOW, Length: 477, dtype: float64

In [185]:
(snow
    .resample('2M')
    .max()
)

1980-01-31    20.0
1980-03-31    25.0
1980-05-31    10.0
1980-07-31     1.0
1980-09-30     0.0
              ...
2019-01-31    19.0
2019-03-31    20.7
2019-05-31    18.0
2019-07-31     0.0
2019-09-30     0.0
Freq: 2M, Name: SNOW, Length: 239, dtype: float64

In [186]:
(snow
    .resample('A-MAY')
    .max()
)

1980-05-31    25.0
1981-05-31    26.0
1982-05-31    34.0
1983-05-31    38.0
1984-05-31    25.0
              ...
2016-05-31    15.0
2017-05-31    26.0
2018-05-31    21.8
2019-05-31    20.7
2020-05-31     0.0
Freq: A-MAY, Name: SNOW, Length: 41, dtype: float64

In [187]:
(snow
   .div(snow
          .resample('Q')
          .transform('sum'))
   .mul(100)
   .fillna(0)
)

1980-01-01    0.527009
1980-01-02    0.790514
1980-01-03    0.263505
1980-01-04    0.000000
1980-01-05    0.000000
                ...
2019-09-03    0.000000
2019-09-04    0.000000
2019-09-05    0.000000
2019-09-06    0.000000
2019-09-07    0.000000
Name: SNOW, Length: 14160, dtype: float64

In [188]:
season2017 = snow.loc['2016-10':'2017-05']
(season2017
    .resample('M')
    .sum()
    .div(season2017
           .sum())
    .mul(100)
)

2016-10-31     2.153969
2016-11-30     9.772637
2016-12-31    15.715995
2017-01-31    25.468688
2017-02-28    21.041085
2017-03-31     9.274033
2017-04-30    14.738732
2017-05-31     1.834862
Freq: M, Name: SNOW, dtype: float64

In [189]:
def season(idx):
    year = idx.year
    month = idx.month
    return year.where((month < 10), year+1)

In [190]:
(snow
  .groupby(season)
  .sum()
)

1980    457.5
1981    503.0
1982    842.5
1983    807.5
1984    816.0
        ...
2015    284.3
2016    354.6
2017    524.0
2018    308.8
2019    504.5
Name: SNOW, Length: 40, dtype: float64

In [191]:
(snow
  .resample('A-SEP')
  .sum()
)

1980-09-30    457.5
1981-09-30    503.0
1982-09-30    842.5
1983-09-30    807.5
1984-09-30    816.0
              ...
2015-09-30    284.3
2016-09-30    354.6
2017-09-30    524.0
2018-09-30    308.8
2019-09-30    504.5
Freq: A-SEP, Name: SNOW, Length: 40, dtype: float64

In [192]:
(snow
    .loc['2016-10':'2017-09']
    .cumsum()
)

2016-10-01      0.0
2016-10-02      0.0
2016-10-03      4.9
2016-10-04      4.9
2016-10-05      5.5
              ...
2017-09-26    524.0
2017-09-27    524.0
2017-09-28    524.0
2017-09-29    524.0
2017-09-30    524.0
Name: SNOW, Length: 364, dtype: float64

In [193]:
(snow
    .resample('A-SEP')
    .transform('cumsum')
)

1980-01-01      2.0
1980-01-02      5.0
1980-01-03      6.0
1980-01-04      6.0
1980-01-05      6.0
              ...
2019-09-03    504.5
2019-09-04    504.5
2019-09-05    504.5
2019-09-06    504.5
2019-09-07    504.5
Name: SNOW, Length: 14160, dtype: float64

#. Convert a column with date information to a date.

#. Put the date information into the index for a numeric column.

#. Calculate the average value of the column for each month.

#. Calculate the average value of the column for every 2 months.

#. Calculate the percentage of the column out of the total for each month.

#. Calculate the average value of the column for a rolling window of size 7.

#. Using ``.loc`` pull out the first 3 months of a year.

#. Using ``.loc`` pull out the last 4 months of a year.

In [ ]:
url = 'https://github.com/mattharrison/datasets/raw/master/'\
    'data/alta-noaa-1980-2019.csv'
alta_df = pd.read_csv(url)    # doctest: +SKIP
dates = pd.to_datetime(alta_df.DATE)
snow = (alta_df
   .SNOW
   .rename(dates)
)

In [ ]:
snow

In [ ]:
snow.plot.hist()  # doctest: +SKIP

In [ ]:
snow[snow>0].plot.hist(bins=20, title='Snowfall Histogram (in)')  # doctest: +SKIP

In [ ]:
snow.plot.box()

In [ ]:
(snow
    [lambda s:(s.index.month == 1) & (s>0)]
    .plot.box()
)

In [ ]:
(snow
    [lambda s:(s.index.month == 1) & (s>0)]
    .plot.kde()
)

In [ ]:
snow.plot.line()

In [ ]:
(snow
   .iloc[-300:]
   .plot.line()
)

In [ ]:
(snow
 .resample('M')
 .mean()
 .plot.line()
)

In [ ]:
(snow
 .resample('Q')
 .quantile([.5, .9, .99])
 .unstack()
 .iloc[-100:]
 .plot.line()
)

In [ ]:
season2017 = (snow.loc['2016-10':'2017-05'])
(season2017
  .resample('M')
  .sum()
  .div(season2017.sum())
  .mul(100)
  .rename(lambda idx: idx.month_name())
)

In [ ]:
(season2017
  .resample('M')
  .sum()
  .div(season2017.sum())
  .mul(100)
  .rename(lambda idx: idx.month_name())
  .plot.bar(title='2017 Monthly Percent of Snowfall')
)

In [ ]:
(season2017
  .resample('M')
  .sum()
  .div(season2017.sum())
  .mul(100)
  .rename(lambda idx: idx.month_name())
  .plot.barh(title='2017 Monthly Percent of Snowfall')
)

In [ ]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/'\
      'vehicles.csv.zip'
df = pd.read_csv(url)    # doctest: +SKIP
make = df.make

In [ ]:
make.value_counts()

In [ ]:
(make
    .value_counts()
    .plot.bar()
)

In [ ]:
top10 = make.value_counts().index[:10]
(make
    .where(make.isin(top10), 'Other')
    .value_counts()
    .plot.barh()
)

In [ ]:
(season2017
  .resample('M')
  .sum()
  .div(season2017.sum())
  .mul(100)
  .rename(lambda idx: idx.month_name())
  .plot.pie(title='2017 Monthly Percent of Snowfall')
)

In [ ]:
import pandas as pd
url = 'https://github.com/mattharrison/datasets/raw/master/' \
      'data/vehicles.csv.zip'
df = pd.read_csv(url)  # doctest: +SKIP
make = df.make
make

In [ ]:
make.value_counts()

In [ ]:
make.shape, make.nunique()

In [ ]:
cat_make = make.astype('category')

In [ ]:
make.memory_usage(deep=True)

In [ ]:
cat_make.memory_usage(deep=True)

In [ ]:
%%timeit

In [ ]:
%%timeit

In [ ]:
make_type = pd.CategoricalDtype(
    categories=sorted(make.unique()), ordered=True)
ordered_make = make.astype(make_type)
ordered_make

In [ ]:
ordered_make.max()

In [ ]:
cat_make.max()

In [ ]:
ordered_make.sort_values()

In [ ]:
cat_make.cat.rename_categories(
   [c.lower() for c in cat_make.cat.categories])

In [ ]:
ordered_make.cat.rename_categories(
   {c:c.lower() for c in ordered_make.cat.categories})

In [ ]:
ordered_make.cat.reorder_categories( 
    sorted(cat_make.cat.categories, key=str.lower))

In [ ]:
ordered_make.iloc[:100].value_counts()

In [ ]:
(cat_make
 .iloc[:100]
 .groupby(cat_make.iloc[:100])
 .first()
)

In [ ]:
(make
 .iloc[:100]
 .groupby(make.iloc[:100])
 .first()
)

In [ ]:
(cat_make
 .iloc[:100]
 .groupby(cat_make.iloc[:100], observed=True)
 .first()
)

In [ ]:
ordered_make.iloc[0]

In [ ]:
ordered_make.iloc[[0]]

In [ ]:
def generalize_topn(ser, n=5, other='Other'):
    topn = ser.value_counts().index[:n]
    if isinstance(ser.dtype, pd.CategoricalDtype):
        ser = ser.cat.set_categories(
            topn.set_categories(list(topn)+[other]))
    return ser.where(ser.isin(topn), other)

In [ ]:
cat_make.pipe(generalize_topn, n=20, other='NA')

In [ ]:
def generalize_mapping(ser, mapping, default):
    seen = None
    res = ser.astype(str)
    for old, new in mapping.items():
         mask = ser.str.contains(old)
         if seen is None:
             seen = mask
         else:
             seen |= mask
         res = res.where(~mask, new)
    res = res.where(seen, default)
    return res.astype('category')

In [ ]:
generalize_mapping(cat_make, {'Ford': 'US', 'Tesla': 'US',
    'Chevrolet': 'US', 'Dodge': 'US',
    'Oldsmobile': 'US', 'Plymouth': 'US',
    'BMW': 'German'}, 'Other')